<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javasm.mapper.AirMapper">
    <insert id="insert">
        insert into air
        (district_id,pm10,pm25,monitor_time,monitoring_station)
        values
        (#{districtId},#{pm10},#{pm25},#{monitorTime},#{monitoringStation})
    </insert>

    <!--
        根据区域id查询空气质量
    -->
    <select id="findByDistractId" resultType="com.javasm.entity.Air">
        select
            a.*,d.name as district_name
        from
            air a left join district d on a.district_id = d.id
        <where>
            <if test="districtId != null">
                -- 当districtId不为空时，才会拼接sql语句
                a.district_id = #{districtId}
            </if>
        </where>
    </select>


</mapper>